.Game {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.Game header {
    flex-shrink: 0  ;
}

.Game section {
    flex: 1 0 auto;
}

.Game section {
    flex: 1 0 auto; /* Use 1 0 auto instead of just 1 for backwards compatibility with other browsers */
}

.GameStartButton {
    width: 200px;
    font-size: 250%;
    min-width: fit-content;
    margin-top: 2rem;
}