.GameDisplay {
    margin-top: 1rem;
}

.GameDisplay label {
    display: inline-block;
}

.Go-Button {
    font-weight: bolder;
    border-radius: .1rem;
}

@media only screen and (max-width: 600px) {
    .GameDisplay {
        margin-top: .1rem;
    }
    .Go-Button {
        font-size:90%;
        padding: .5rem 1.5rem;
    }
}