
.Header-title {
    text-transform: uppercase;
}

header {
  margin-bottom: 1.5rem;
  padding:2px;
}

.Header-homeicon {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.Header-user-icon {
  margin-right: .25rem;
  height: 2rem;
  vertical-align: -.3rem;
}

.Header-greeting {
  font-size: 80%;
  color: rgb(29, 29, 29);
}

