.TextInput {
    display: inline-block;
    height: 5rem;
    font-size: 3rem;
    font-weight: bold;
    width: 10rem;
    margin-top: 1rem;
    color: transparent;
    text-shadow: 0 0 0 black;
}

@media only screen and (max-width: 600px) {
    .TextInput {
        height: 4rem;
        font-size: 2rem;
        width: 5rem;
    }
}